<p id="notice"><%= notice %></p>


  <table>
    <tbody>
      <tr>
        <td><%= @message.title %><th>user_name</th></td>
      </tr>
      <tr>
        <td><%= image_tag(@message.image_url, class: 'list_image') %>
      </tr>
      <tr>
        <td><%= @message.message %></td>
      </tr>
    </tbody>
  </table>
      <hr>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
