  <header class="navbar navbar-fixed-top navbar-inverse">
  	<div class="navbar-inner">
      <div class="container">
      	<% if session[:id] %>
      		<%= link_to "Upartner",messages_path, id: "logo" %>
        <% else %>
        	<%= link_to "Upartner",portal_index_path, id: "logo" %>
        <% end %>
      	<nav>
      		<% if session[:id] %>
	      	<%= link_to "ホーム",:controller=> "messages", :action=> "index"%>
	      	<%= link_to "友達", friends_list_path%>
	      	<%= link_to "mypage", @user%>
	        <%= button_to "logout", portal_logout_path, class: "btn"%>
	        <% end %>
	    </nav>
	  </div>
	</div>
  </header>