  <header class="navbar navbar-fixed-top navbar-inverse">
  	<div class="navbar-inner">
      <div class="container">
      	<%= link_to "Upartner", '#', id: "logo" %>
      	<nav>
      		<% if session[:user_id] %>
	      	<%= link_to "ホーム",:controller=> "messages", :action=> "index"%>
	      	<%= link_to "友達",:controller=> "users", :action=> "index"%>
	        <%= button_to "logout", portal_logout_path, class: "btn"%>
	        <% else %>
	        <%= render 'portal/form' %>
			<% end %>
	    </nav>
	  </div>
	</div>
  </header>