<!DOCTYPE html>
<html>
<head>
  <title>Upartner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="header">
  	Upartner
  	<div id="contents">
      ログインユーザ名
    </div>
  </div>
  
  <div id="columns">
  	
  	<div id="side">
      <ul>
      	<li><%= link_to "ホーム",:controller=> "messages", :action=> "index"%></li>
      	<li><%= link_to "友達",:controller=> "users", :action=> "index"%></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  
  </div>
</body>
</html>
